.loginForm {
	border: 2px solid #000000;
	width: 40%;
	margin: 100px auto;
	background-color: #E1E1E1;
	text-align: center;
}

.form-group {
	width: 80%;
	margin: 0 auto;
}

button[type="submit"]{
	background-color: #9CA3A2;
	border-color: #9CA3A2;
}

.table {
	margin: 100px auto;
}

.btn-danger {
	position: relative;
    left: 300px;
    bottom: 55px;
}

.btn-secondary {
	color: #000;
}

.noRequest {
	text-align: center;
	margin-top: 100px;
}

.vin {
	width: -webkit-fill-available;
 
}

.toggle {

	display: flex;
}

label{
	position: relative;
    right: 200px;
    top: 8px;
}

input[type="checkbox"]{
	position: relative;
	right: 100px;
}
	