.btn-danger {
	position: relative;
    bottom: 30px;
}
@media screen and (max-width: 600px) {
  .btn-danger {
    position: relative;
	right: 2px;
	font-size: 50%; 
  }
}

@media screen and (max-width: 600px) {
  .flex-row-reverse {
   display: flex;
	flex-direction: column;
  }
}

.btn-success {
	position: relative;
    bottom: 30px;
	margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .btn-success {
	font-size: 50%;
	 
  }
}

.btn-dark{
	margin: 20px 750px;
}

.btn-secondary {
	color: #000;
}

.partButton {
	margin-top: 20px;
}

#reqButton{
	background-color: #5a6268;
	position: relative;
    left: 14px;
}

button[type="submit"]{
	background-color: #9CA3A2;
	border-color: #9CA3A2;
}