iframe {
	width: 450px;
	height: 300px;
	margin: 25px 50px;
	border: 5px solid #CDCDCD;
}

@media screen and (max-width: 1200px) {
  iframe {
    width: 350px;
	margin-left: 0;
  }
	
}
}

@media screen and (max-width: 768px) {
  iframe {
   margin-left: 75px;
  }
	
}
@media screen and (max-width: 576px) {
  iframe {
    width: 100%;
	margin-left: 0;
  }
}


.contactH1{
	text-align: center;
	margin-top: 25px;
	color: 	#FFFFFF;
	font-size: 65px;
}

.contactInfo {
	text-align: center;
	color: #FFFFFF;
}
.address{
	color: #FFFFFF;
}
