.nav-link {
	color: #fff;
	padding-left: 0px;
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
    color: #0056b3;
}

.navbar-dark .navbar-brand:hover {
	 color: #0056b3;
}
body{
	background-color: #9CA3A2;
	
}

.contactH1{
	text-align: center;
	margin-top: 25px;
	color: 	#FFFFFF;
	font-size: 65px;
}
h2 {
	color: 	#FFFFFF;
	text-align: center;
}
hr{
	border-top: 5px solid #DDDDDD;
}

input[type=tel] {
	display: block;
}

input {
	width: 100%;
	margin: 15px;
}

textarea {
	width: 100%;
	margin: 15px;
}

#reqButton{
	background-color: #5a6268;
	position: relative;
    left: 14px;
}

form{
	margin-top: 25px;
}
h4{
	text-align: center;
	color: #FFFFFF;
}


.contactInfo {
	text-align: center;
	color: #FFFFFF;
}
.address{
	color: #FFFFFF;
}



.partForm {
	border: 3px solid #000000;
	height: 400px;
	overflow: overlay;
    width: 500px;
	background-color: #E1E1E1;
	margin: 100px auto;
	text-align: center;
}
@media screen and (max-width: 576px ){
	.partForm{
		width: 80%;
	}
	label{
		position: relative;
		left: 0;
		margin-right: 30px;
	}
	.toggle{
		margin-left: 100px;
	}
}

form hr {
	border-color: #000000;
}

select{
	margin-top: 20px;
}

#year {
	width: 30%;
}
.partButton {
	margin-top: 20px;
}
.responsive {
	width: 100%;
  	height: auto;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, form {
    width: 100%;
    margin-top: 0;
  }
}
