<%- include("./partials/header") -%>


<div class ="container" >
<div class="jumbotron jumbotron-fluid">
  <div class="container" class= "color">
    <h1 class="display-4">Discount Used Auto Parts</h1>
	  <p class="lead">We sell used auto parts on most car models.</p> 
	  <p class="lead">You can either call 
		us to check for the part availability or search yourself <a href = "/partSearch">here</a>
	  </p>
	  <img src = "https://images.unsplash.com/photo-1569811451056-7cf4bbd3b679?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1045&q=80">
		

  </div>
</div>
</div>


















<%- include("./partials/footer") -%>