<%- include("../partials/header") -%>

<div class = "container">
	<form class = "partForm" action = "partSearch" method = "POST">
		<h3>Search for a car part!</h3>	
		<hr>
		<div class = dropdowns>
			<select name="carPart[year]" id="year" required>
			<option selected="selected">Year</option>
			</select>
			<select name="carPart[make]" id="model" required>
			</select>
			<select name="carPart[parts]" id = "part">
			</select>
			
			<br>
			<button class = "partButton">Search</button>
		</div>
			
	</form>
</div>













<%- include("../partials/footer") -%>