<%- include("../partials/header") -%>

<div class = "container">
	<form class = "partForm" action = "/postCar" method = "POST">
		<h3>Post a car with parts</h3>	
		<hr>
		<div class = dropdowns>
			<select name="car[year]" id="year">
			<option selected="selected">Year</option>
			</select>
			<select name="car[make]" id="model">
			</select>
			<input type = "text" name = "car[vin]" class = "vin" placeholder = "VIN">
			<p>
  <a class="btn btn-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add parts</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
		<div id = "toggle">
			
		</div>
  			
    </div>
		
  
			<button type="submit" class = "partButton">Post this car</button>
		</div>
			
	</form>
	
</div>



<%- include("../partials/footer") -%>